<div *ngIf="!connected" class="login-container col-md-4 mx-auto">
  <h2 class="text-center my-4">Page de connexion</h2>
  <form (ngSubmit)="connexion()">
    <div class="form-group">
      <label for="login">Nom utilisateur</label>
      <input
        [(ngModel)]="login"
        name="login"
        type="text"
        class="form-control mb-4 mt-2"
        id="username"
        placeholder="Entrez le nom d'utilisateur..."
      />
    </div>
    <div class="form-group">
      <label for="password">Mot de passe</label>
      <input
        [(ngModel)]="password"
        name="password"
        type="password"
        class="form-control mb-4 mt-2"
        id="password"
        placeholder="Renseignez votre mot de passe..."
      />
    </div>
    <div class="text-center">
      <button class="btn btn-dark mb-4" type="submit">Se connecter</button>
    </div>
  </form>
</div>

<div *ngIf="connected" class="text-center">
  <p class="hello">Hello there, {{ prenom }} {{ nom }} 👋 !</p>
  <p class="mb-5">Visitez le catalogue en cliquant <a class="fw-bolder link-dark" [routerLink]="['/catalogue']">ICI</a></p>
</div>

